<html ng-app="myapp">
<head>
    <script src="angular.min.js"></script>
    <script src="anchorscroll.js"></script>
    </head>
    <body ng-controller="myctrl">
        <div>
        <input type="button" value="go to bottom" id="top" ng-click="scrollto('bottom')">
            <h1>United Airlines</h1>
            <br>
            <pre>
            United Airlines, Inc., commonly referred to as United, is an American airline headquartered in Chicago, 
            Illinois.[10][11][12] It is the world's third-largest airline when measured by revenue.
            United operates a large domestic and international route network, with an extensive presence in the Asia-Pacific region.[13] 
            
            
            United is a founding member of Star Alliance, the world's largest airline alliance.
            Regional service is operated by independent carriers under the brand name United Express. 
            Its main competitors are American Airlines, Delta Air Lines, and Southwest Airlines.
            </pre>
            <pre>
            United was founded in 1926 as Varney Air Lines[1] and was later known as United Air Lines (UAL). 
            United operates out of nine airline hubs located in Chicago, Denver, Guam, Houston, Los Angeles,
            Newark, San Francisco, Tokyo and Washington, D.C.[15] 
            
            Chicago-O'Hare is United's largest hub, both in terms of passengers carried annually 
            (16.6 million in 2016) and in terms of departures 181,488 in 2016).
            This passed George Bush Intercontinental in Houston,
            which carried 15.5 million with 178,019 departures.[16] 
            United operates maintenance bases in Cleveland and Orlando 
            in addition to the maintenance locations located at United's hubs.[17]
            
            
            The company employs over 86,000[9] people while maintaining 
            its headquarters in Chicago's Willis Tower (formerly known as Sears Tower).[18] 
            Through the airline's parent company, United Continental Holdings, 
            it is publicly traded under NYSE: UAL with a market capitalization of over $18 billion as of September 2014.[19]
            </pre>
            <pre>
            United Airlines traces its roots to the Varney Air Lines air mail service of Walter Varney, 
            who also founded Varney Speed Lines from which Continental Airlines had originated. 
            Founded in Boise, Idaho in 1926, the carrier flew the 
            first contract air mail flight in the U.S. on April 6, 1926,
            marking the first scheduled airline service in the country's history with flights between Pasco, WA and Elko,
            NV via Boise.[20][21][22]
            In 1927, aviation pioneer William Boeing founded his airline 
            Boeing Air Transport to operate the San Francisco to Chicago air mail route.[23][24] 
            In 1929, Boeing merged his company with Pratt & Whitney to form the 
            United Aircraft and Transport Corporation (UATC) which then set about buying, in the space of just 28 months,
            Pacific Air Transport, Stout Air Services, Varney Air Lines and National Air Transport, 
            as well as numerous equipment manufacturers at the same time.[25][26]
            On March 28, 1931, UATC formed United Air Lines, Inc. as a holding company for its airline subsidiaries.[27]
            
            
            In 1933, United began operating the Boeing 247 airliner.[28] 
            It was able to fly a transcontinental flight in 20 hours, making it significantly faster than its predecessors.
            After passage of the Air Mail Act in 1934, which barred common ownership of airplane manufacturers and airlines, 
            UATC was broken up. 
            
            All manufacturing interests east of the Mississippi became United Aircraft 
            (the future United Technologies), while all manufacturing interests 
            west of the Mississippi became a revived Boeing Airplane Company.
            UATC's former airline interests were folded into a single airline, United Air Lines.[30]
            
            After World War II, United gained from a boom in customer demand for air travel, 
            with its revenue per passenger-miles jumping five-fold in the 1950s, and continued
            growth occurring through the next two decades.[31]
            </pre>
            <input type="button" value="go to top" id="bottom" ng-click="scrollto('top')">
        </div>
    
    </body>
</html>