<!--ng-hide and ng-show-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="angular.min.js"></script>
    <script src="script1.js"></script>
    <style>
        table{
            border-collapse:collapse;;
        }
        tr,th,td{
            border:1px solid gray;
        }
    </style>    
</head>
    <body ng-app="myapp">
    <div ng-controller="myctrl">
        <select ng-model="angltable">
        <option value="employeetable.html">Table</option>
            <option value="employeelist.html">List</option>
        </select>
        <br><br>
        <!--<input type="checkbox" ng-model="hidesalary">Checkbox
        <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Gender</th>
            <th ng-hide="hidesalary">Salary</th>
                <th>City</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employ in employee">
                <td>{{employ.name}}</td>
                 <td>{{employ.gender|gender}}</td>
                 <td ng-hide="hidesalary">{{employ.salary}}</td>
                <td>{{employ.city}}</td>
                </tr>
            </tbody>
        </table>-->
        
        <!--ng-include directive-->
        <div ng-include="angltable"></div>
        </div>
    </body>
</html>
        