<div>
<pre>
Student wiki is a student-run web-based project that aims towards introducing students to all life aspects of their 4-year experience at UASOM by providing useful info and guidelines for medical school classes, student notes and useful study material, research opportunities, books, living, places in Birmingham... etc. 

Please join us to this amazing opportunity and be part of our UASOM family.
</pre>
    <h1>List of Students</h1>
    <ul>
    <li>Mark</li>
        <li>John</li>
        <li>Sara</li>
        <li>Tom</li>
        <li>Pam</li>
        <li>Well</li>
    </ul>
</div>